@import url("https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css");
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }
@include media-breakpoint-up(xxl) { ... }

table.dataTable thead tr th {
    word-wrap: break-word;
    word-break: break-all;
}

table.dataTable tbody tr td {
    word-wrap: break-word;
    word-break: break-all;
}

div.container { max-width: 1200px }

.row {
    background: #f8f9fa;
    margin-top: 20px;
  }
  
  .col {
    border: solid 1px #6c757d;
    padding: 10px;
  }